@model List<FornecedorSuplemento>

<h2>Fornecedores de Suplementos</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Nome Fantasia</th>
            <th>CNPJ</th>
            <th>Endereço</th>
            <th>Produto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.NomeFantasia</td>
                <td>@item.Cnpj</td>
                <td>@item.Endereco</td>
                <td>@item.Produto</td>
            </tr>
        }
    </tbody>
</table>
